<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package 
			uri = "http://www.ulibertadores.edu/PyDslRep"
			class = "edu.ulibertadores.PyDslRep.PyDslRepPackage"
			genModel = "model/generated/PyDslRep.genmodel" />
	</extension>
</plugin>
